@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: lightblue;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 'cabecalho'
    'jogo';
    width: 100vw;
    height: 100vh;
}

header{
    grid-area: cabecalho;
    display: flex;
    border-bottom: solid 0.3rem white;
    width: 100vw;
    height: 100%;
    color: rgb(201, 35, 5);
    align-items: center;
    justify-content: space-between;
    font-family: 'Oswald';
    box-sizing: border-box;
}

header div{
    display: flex;
    flex-direction: row-reverse;
    width: 12rem;
    align-items: center;
    justify-content: space-around;
    margin-left: 2rem;
}

header span{
    font-family: 'Pixel';
    font-size: 3rem;
    margin-right: 2rem;
    padding: 1rem;
}

.flappy-cabecalho{
    width: 3rem;
}

main{
    grid-area: jogo;
    display: flex;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.passaro{
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    bottom: 50%;
}

.par-de-barreiras{
    position: absolute;
    top: 0;
    width: 10rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.barreiras{
    display: flex;
    flex-direction: column;
    height: 50%;
}

.corpo{
    background-color: green;
    border: solid 0.2rem black;
    width: 10rem;
    height: 20%;
}
